.section-last{
    background-color: rgba(85, 81, 81, 0.5);;
}

.p-style{
    font-size: max(18px,2.1vw);
    font-weight: 600;
}
.p-sm-style{
    font-size: max(15px,2vw);
    font-weight: 600;
}

.logo{
    width:max(60px,8vw);
}